<div class="user-post">
  <div class="post-title">
    <h3><%= post.title %> </h3>
    <p><%= post.text %> </p>
  </div>
  <aside class="counter-section">
    <span>Comments: <%= post.Comments_counter %></span>
    <span>Likes: <% post.Likes_counter %></span>
  </aside>
</div>
